.product-list-header {
    width: 100%;



    div.wrap-img-box {
        background-image: url('../../../assets/bg-img.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        // background-attachment: fixed;
        height: 100%;
        width: 100%;

        .container {
            h1 {
                color: white;
                font-weight: bold;
                // width: 80%;
                width: 30%;
                padding: 60px 0;
                font-size: 52px;

                @media all and (max-width:768px) {
                    font-size: 22px;
                    width: 60%;
                    padding: 30px 0;
                }
            }
        }

        @media all and (max-width:768px) {
            border-radius: 10px;
        }

    }

    @media all and (max-width:768px) {
        padding: 10px;

    }


}