.main-box-app {
    margin-top: 140px;

    @media all and (max-width:992px) {
        margin-top: 170px;
    }
}



* {
    &::selection {
        background-color: orange !important;
        color: white !important;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {

    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FEC826;
    border-radius: 10px;
    transition: all 0.2s linear;
}